 .u-section-1 {
  background-image: linear-gradient(to right, #c5c9f9, #fee7ef);
}

.u-section-1 .u-sheet-1 {
  min-height: 890px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 112px;
  margin-bottom: -20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 798px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.33;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 4px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 108px auto 0 208px;
  padding: 7px 21px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  --radius: 4px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -35px 505px 0 auto;
  padding: 7px 21px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-3 {
  --radius: 4px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -35px 198px 0 auto;
  padding: 7px 21px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-1 .u-list-1 {
  width: 947px;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 33.3333px));
  min-height: 403px;
  grid-auto-columns: calc(33.3333% - 33.3333px);
  --gap: 50px;
}

.u-section-1 .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-image: url("images/Gemini_Generated_Image_lf1ah2lf1ah2lf1a.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 12px 9px;
}

.u-section-1 .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-image: url("images/Gemini_Generated_Image_lf1ah2lf1ah2lf1a.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 40px 12px 9px;
}

.u-section-1 .u-image-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-image: url("images/Gemini_Generated_Image_lf1ah2lf1ah2lf1a.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 40px 12px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-top: 125px;
    margin-left: 8px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 305px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 548px;
    margin-top: 128px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 33.333333333333336px));
    min-height: 245px;
    grid-auto-columns: calc(33.333333333333336% - 33.333333333333336px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 85px;
  }

  .u-section-1 .u-list-1 {
    width: 420px;
    margin-top: -362px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 735px;
    grid-auto-columns: calc(50% - 25px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 474px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: auto;
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, #c5c9f9, #fee7ef);
  min-height: 1130px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 798px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.33;
  filter: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 15px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1121px;
  margin: 67px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 33.3333px));
  min-height: 472px;
  grid-auto-columns: calc(33.3333% - 33.3333px);
  --gap: 50px;
}

.u-section-2 .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-image: url("images/image1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 12px 9px;
}

.u-section-2 .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-image: url("images/unnamed2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 12px 9px;
}

.u-section-2 .u-image-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-image: url("images/de8512ae-e8f0-48ef-ab0f-0f872995de061.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 12px 9px;
}

.u-section-2 .u-text-2 {
  margin: 29px auto 0;
}

.u-section-2 .u-text-3 {
  margin: -29px 133px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: -29px auto 0 124px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: 15px auto 0 59px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: -42px auto 0 175px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: -42px auto 0 298px;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: -42px auto 0 459px;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: -42px 564px 0 auto;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: -42px 450px 0 auto;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: -42px 306px 0 auto;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: -42px 183px 0 auto;
}

.u-section-2 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 20px;
  margin: -42px 60px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 738px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-2 .u-list-1 {
    width: 548px;
    margin-top: 289px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 33.333333333333336px));
    min-height: 245px;
    grid-auto-columns: calc(33.333333333333336% - 33.333333333333336px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 98px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 259px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 364px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 250px;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 106px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 432px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 420px;
    margin-top: -201px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 735px;
    grid-auto-columns: calc(50% - 25px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 39px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 144px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 30px;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 194px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 148px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: auto;
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 84px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 78px;
  }
}