.git
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.idea
.vscode
*.md
!README.md
docker-compose*.yml
Dockerfile*
.dockerignore
